<div data-uri="{{uri}}" data-action="view" class="radiate-delay pill colorize">
    <paper-ripple></paper-ripple>
    <img src="{{images.[0].url}}" style="background-image: url('{{images.[0].url}}');" data-src="{{images.[0].url}}"/>

    <div class="text-content">
        <div class="truncate">{{name}}</div>
    </div>
</div>
