<div data-uri="spotify:category:{{id}}" data-action="view" class="radiate-delay pill colorize">
    <img src="{{icons.[0].url}}" style="background-image: url('{{icons.[0].url}}');" data-src="{{icons.[0].url}}"/>

    <div class="text-content one-line">
        <div class="truncate">{{name}}</div>
    </div>
</div>