<div data-uri="{{uri}}" data-action="view" class="radiate-delay pill colorize">
    <img src="{{images.[0].url}}" style="background-image: url('{{images.[0].url}}');" data-src="{{images.[0].url}}"/>

    <div class="text-content two-lines">
        <div class="truncate">{{name}}</div>
        <div class="truncate sub">{{tracks.total}} tracks</div>
    </div>
</div>