<tr data-uri='{{uri}}' data-double-action='add' class="track-item">
    <td>
		<a data-uri='{{uri}}' data-action='add' class="add-to-playlist icon-plus"></a>
        <span class="name">{{name}}</span>
    </td>
    <td>
        {{#each artists}}
            <a class="artist" data-uri="{{uri}}" data-action="view">{{name}}</a>
        {{/each}}
    </td>
    <td class="time">
        {{duration duration_ms}}
    </td>
    <td class="album">
        <a data-uri="{{album.uri}}" data-action="view">
            {{album.name}}
        </a>
    </td>
</tr>