<div data-uri='{{uri}}' data-double-action='add' class="track-item row">
    <div class="column title">
        <span class="name">{{name}}</span>
        <a class="waves-effect mdi-navigation-more-vert" data-action="contextmenu" data-target=".track-item"></a>
    </div>
    <div class="column artist">
        {{#each artists}}
            <a class="artist" data-uri="{{uri}}" data-action="view">{{name}}</a>
        {{/each}}
    </div>
    <div class="column time">
        {{duration duration_ms}}
    </div>
    <div class="column album">
        <a data-uri="{{album.uri}}" data-action="view">
            {{album.name}}
        </a>
    </div>
</div>