<div data-uri='{{uri}}' data-double-action='add' class="track-item row">
    <div class="column action">
        <a data-uri='{{uri}}' data-action='add' class="add-to-playlist mdi-av-queue"></a>
        {{#if time}}<span>{{timestamp time}}</span>{{/if}}
    </div>
    <div class="column title">
        <span class="name">{{name}}</span>
    </div>
    <div class="column artist">
        {{#each artists}}
            <a class="artist" data-uri="{{uri}}" data-action="view">{{name}}</a>
        {{/each}}
    </div>
    <div class="column time">
        {{duration duration_ms}}
    </div>
    <div class="column album">
        <a data-uri="{{album.uri}}" data-action="view">
            {{album.name}}
        </a>
    </div>
</div>