<div class="view-details">
    <div class="view-detail-top">
        <img src="{{images.[0].url}}" class="detail-image"/>

        <div class="detail-text">
            <h4>Album</h4>

            <h3>{{name}}</h3>

            <div class="buttons-wrap">
                <button data-uri="{{uri}}" data-action="add" class="btn waves-effect">Add to queue</button>
                <button data-uri="{{uri}}" data-action="clear|add" class="btn waves-effect">Play</button>
            </div>
        </div>
    </div>
    <div class="track-table-wrap">
        <table class="track-table" data-uri="{{uri}}">
            {{> trackTableTop}}
            {{#each tracks}}
                {{> track}}
            {{/each}}
        </table>
    </div>
</div>