<ul>
    {{#each tracks}}
        <li data-uuid="{{uuid}}" data-uri="{{uri}}" data-id="{{id}}">
            <span class="title">{{name}}</span>{{#each artists}}<span class="artist">{{name}}</span>{{/each}}
            <div class="vote-buttons">
                <button class="up icon-arrow-up {{#if votedUp}}active{{/if}}"></button>
                <span>{{votes}}</span>
                <button class="down icon-arrow-down {{#if votedDown}}active{{/if}}"></button>
            </div>
        </li>
    {{/each}}
</ul>