<ul class="no-highlight">
    {{#each tracks}}
        <li data-uuid="{{uuid}}" data-uri="{{uri}}" data-id="{{id}}" class="{{#if forcedTop}}forced-top{{/if}}">
            <paper-material elevation="1">
                <div class="content">
                    <div class="title truncate">{{name}}</div>
                    <div class="artists truncate">{{#each artists}}<span class="artist">{{name}}</span>{{/each}}</div>
                    <span class="current-votes">{{votes}}</span>
                    <paper-icon-button icon="more-vert" class="show-context-menu circle" data-action="contextmenu" data-target="li"></paper-icon-button>
                </div>
                <div class="extra-content">
                    <iron-image class="cover-art" sizing="contain" fade preload></iron-image>
                    <div class="content">
                        <div class="source">
                            Added from <strong></strong>
                        </div>
                        <div class="votes">
                            <paper-icon-button icon="thumb-up" class="vote-btn up circle {{#if votedUp}}selected{{/if}}"></paper-icon-button>
                            <span>{{votes}}</span>
                            <paper-icon-button icon="thumb-down" class="vote-btn down circle {{#if votedDown}}selected{{/if}}"></paper-icon-button>
                        </div>
                    </div>
                </div>

            </paper-material>
        </li>
    {{/each}}
</ul>