<ul>
    {{#each tracks}}
        <li data-uuid="{{uuid}}" data-uri="{{uri}}" data-id="{{id}}" class="{{#if forcedTop}}forced-top{{/if}}">
            <div class="title truncate">{{name}}</div>
            <div class="artists truncate">{{#each artists}}<span class="artist">{{name}}</span>{{/each}}</div>
        </li>
    {{/each}}
</ul>